{% extends "base.html" %}
{% block title %}
{{object.title}} | {{block.super}}
{% endblock title %}

<style type="text/css">
div{
	border-style: dashed;

}

</style>

{% block content %}
<h3 style="text-align:center;">{{ object.title }}</h3>
<h4 style="color: #696969">{{object.user.username}}</h4><br>
<small style="color: #696969;text-align: center;" >{{object.timestamp}}</small><br>
<div align="center" class="container" style="border-style: dashed; align-content: center;">
	<div class="col" >
	<div class="row">
		{{ object.text }}

	</div>

	<div class="pull-center image">
		{% if object.image %}
			<img class="img-thumbnail"  src="{{object.image.url}}" alt="image" width="500"  /><br>
		{% endif %}	
	</div>
		

	</div>
</div>



<div align="left" class="button">
	<button  style="margin-top: 25px" >Upvotes:{{object.upvotes}}</button>

</div>

<hr>



<div align="left" class="container">
	<h4 style="text-align: center;">Comments</h4>
	{% if object.comment_set.all %}
	{% for comment in object.comment_set.all %}
		<hr>
				{{comment.user.username}}
			<br>
			{{comment.comment_text}}<br>
			<small style="color: #696969;" >{{comment.timestamp}}</small><br>
	
	{% endfor %}
	
	{% endif %}


<hr>
<h5>Add Comment</h5>
<form method="POST" action="{% url 'posts:details' slug=object.slug %}">{% csrf_token %}
	{{form.as_p}}
	<button style="padding-top: 25px" type="submit">Comment</button>
</form>


	
 </div>	


		

{% endblock content %}