<style type="text/css">
.card-header a:hover{
	color: #2BBBBB	;
	text-shadow: 1px 1px #000;

	}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    border-color: aqua;
}

</style>
{% extends "base.html" %}
{% block title %}
Posts | {{block.super}}
{% endblock title %}

{% block content %}
<div class="container" >
	<ul style="list-style: none;">
	{% for obj in object_list %}
	<li style="padding: 20px">
	
	
	<div  class="card">
	<a href="{{obj.get_absolute_url}}" class="card-link"></a>
	<div class="card-header">
	<h2><a style="text-decoration: none;" href="{{obj.get_absolute_url}}">{{obj.title}}</a></h2>
	
		
	</div>

	<div class="card-body">
	<div class="col">
	<div class="row">
		{{obj.text|truncatechars:500}}
	</div>
	<div class="row">
		{% if obj.image %}
		<img class="img-thumbnail"  src="{{obj.image.url}}" alt="image" style="width: 50%;margin-left: auto;margin-right: auto;"  /><br>
		{% endif %}
	</div>
	</div>
	
	</div>
	</div>
	
		
		
	</li>
	{% endfor %}
</ul>

</div>


{% endblock content %}