{%  load static %}
<style type="text/css">
.nav a:hover{
background-color: #1E2524;

}

</style>

<div class="topnav" style="background-color: #000000" >
<br>
<div class="row">
<div class="col">

		<a  style=" text-decoration: none;padding: 20px;border: 1px solid cyan; color: cyan;" href="{% url 'home' %}"> Home </a>
		<a style="text-decoration: none;padding: 20px;border: 1px solid cyan;margin: 10px; color: cyan"  href="{% url 'posts:my_posts'  %}">My Posts</a>
<div style="text-align: center;">
<h1 style="color: White;margin-left: 300px;margin-top: -30px" >SocialForum.com</h1>

</div>
<!--<div class="nav">-->

		<!--<a  style=" text-decoration: none;padding: 10px; color: cyan" href="{% url 'home' %}"> Home </a>
		<a style="text-decoration: none;padding: 10px; color: cyan"  href="{% url 'posts:my_posts'  %}">My Posts</a>-->

	<!--</div>-->
	
</div>


<div class="col-sm-2">


	{% if request.user.is_authenticated %}
<!--<div class="row" style="height:30%">-->
	<!--<img  src='{% static "profiles/profile.png" %}' class="rounded-circle"  alt="my img" style="width: 20%;height: 100% ; padding: 10px;margin-right: 20px;margin-left: 50px">-->

<!--</div>-->

<div class="row" >

<i style="color: #FFFFFF; font-size: 20px; margin-left: -50px; margin-top:-10px" >Welcome, {{request.user.username}}</i>
<a  style="margin-left: 15px;margin-top: -10px; color: #FF0000; font-size:20px" href="{% url 'login' %}" >Log Out</a>

{%else%}
<div class="row" style="align-self: center;">
	<a  style="padding:20px; color: white ; float: right" href="{% url 'login' %}"> Login </a>
	<a  style="padding:20px; color: white ; float: right" href="{% url 'register' %}">Register</a>
</div>
{% endif %}

</div>



</div>

</div>



</div>